.container {  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.photo-side {
  font-size: 10px;
  /* border: 1px solid black; */
}

@media screen and (min-width: 1800px){
  .explanation {
    max-width: 40%;
    align-items: center;
    align-content: center;
    margin-top: auto;
    margin-bottom: auto;
    /* border: 1px solid black; */
  }
}

@media screen and (max-width: 974px){
  img {
    width: 100%;
    height: auto;
  }
}

.explanation {
  padding: 1rem;
  width: 100%;
  align-items: center;
  align-content: center;
  margin-top: auto;
  margin-bottom: auto;
  /* border: 1px solid black; */
}

@media screen and (max-width: 974px){
  .explanation {
    max-width: 100%;
  }
}