.container {  
  display: flex;
  flex-direction: row;
  
}

.photo-side {

  border: 1px solid black;
}

.explanation {
  max-width: 40%;
  align-items: center;
  align-content: center;
  padding-top: 10px;
  margin-top: auto;
  margin-bottom: auto;
  border: 1px solid black;
}